extends ../0_base/template

block title
	title Компания

block content
	.l-wrapper.page-content
		ul.breadcrumbs
			li.breadcrumbs_item: a(href="#").breadcrumbs_link Главная
			li.breadcrumbs_item: a(href="#").breadcrumbs_link Компания

		.page-header
			h1.page-header_title Компания

		.text-section
			p.
				Заходя в магазины Торговой сети «Мастер» в Березниках, вы можете найти 
				все, что нужно для ремонта квартиры, строительства и ведения домашнего 
				хозяйства.

			p.
				Весь ассортимент удобно расположен по товарным группам, на открытых 
				стендах. Вам всегда помогут опытные продавцы-консультанты, которые 
				отлично информированы о каждом товаре.

			ul
				li Электроинструмент бытовой и профессиональный
				li Энергосберегающие и светодиодные лампы
				li Розетки, кабели, выключатели, светильники, электрощиты
				li Бензопилы, пилы цепные, шуруповерт, дрель
				li Бензоинструмент и комплектующие
				li Сухие строительные смеси
				li Краски, лакокрасочная продукция
				li Водонагреватели
				li Песок, цемент, керамзит
				li Стремянки, лестницы, леса строительные
				li Хозтовары: ковши, тазы, перчатки, ведра, швабры
				li Умывальники, тумбы, шкафы для ванной, зеркала
				li Санфаянс, крышки для унитаза, смесители
				li Сифоны, шланги, фитинги, канализационная оснастка
				li Мойки в ассортименте
				li Кисти, шпатели, клей для обоев
				li Ручной инструмент в ассортименте и в наборах
				li Молотки, отвертки, рулетки, гвозди, саморезы, пассатижи
				li Садово-огородные товары
				li Замки дверные, дверное полотно