footer.site-foo
	.l-wrapper.site-foo_first
		nav.site-foo_nav
			ul.site-foo_nav-list
				li.site-foo_nav-title Покупателям
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Преимущества регистрации
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Как сделать заказ
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Оплата
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Доставка и самовывоз
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Возврат товара
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Дисконтные карты

			ul.site-foo_nav-list
				li.site-foo_nav-title Компания
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Компания
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Реквизиты
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Вакансии

			ul.site-foo_nav-list
				li.site-foo_nav-title Прочее
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Магазин на Яндекс.Маркет
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Магазин на Авито

		ul.site-foo_info
			li.site-foo_info-title Торговая сеть «Мастер»
			li.site-foo_info-tel: a(href="#") +7 (3424) 20-20-80
			li.site-foo_info-addres Березники, ул. Карла Маркса, 124
			li.site-foo_info-timetable
				ul
					li пн - пт: 09:00 – 19:00
					li сб - вс: 10:00 – 18:00

	.l-wrapper.site-foo_second
		.site-foo_copyright © ИП Опарина Ю.Г. (Торговая сеть «Мастер»), 2016-2018
		.site-foo_site-developer Разработка сайта <a href="#">Простор дизайн</a>
