nav.site-nav(class=isIndex ? "__at-index" : null)
	.site-nav_overlay

	ul.site-nav_list
		li.site-nav_item.__catalog-dropdown
			a(href="#").site-nav_link.__catalog.js-sn-dropdown-open
				|Каталог товаров
				+icon('bars')

			ul.site-nav_dropdown.js-site-submenu
				li.site-nav_dropdown-item.__m-back
					a(href="#").site-nav_dropdown-link.__back Назад

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Строительные материалы

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Отделочные материалы
					
					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Крепеж и оснастка

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Инструмент

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Сантехника

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Электроизделия

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Товары для дома

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Сад и огород

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>

				li.site-nav_dropdown-item
					a(href="#").site-nav_dropdown-link Разное

					.site-nav_catalog-dropdown
						a(href="#").site-nav_catalog-back Назад
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
						.site-nav_catalog-col
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
							ul.site-nav_catalog-list
								li.site-nav_catalog-item.__title: a(href="#").site-nav_catalog-link Категория
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>
								li.site-nav_catalog-item: a(href="#").site-nav_catalog-link Подкатегория <span class="site-nav_catalog-count">10</span>


		li.site-nav_item: a(href="#").site-nav_link Новинки
		li.site-nav_item: a(href="#").site-nav_link Акции
		li.site-nav_item: a(href="#").site-nav_link Главная
		li.site-nav_item: a(href="#").site-nav_link Компания
		li.site-nav_item: a(href="#").site-nav_link Адреса магазинов