.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-address-card {
	font-size:(21/10)*1rem;
	width:(27/21)*1em;
}
.icon-bars {
	font-size:(10.281/10)*1rem;
	width:(12.25/10.281)*1em;
}
.icon-box {
	font-size:(20.25/10)*1rem;
	width:(20.25/20.25)*1em;
}
.icon-check {
	font-size:(8.25/10)*1rem;
	width:(10.75/8.25)*1em;
}
.icon-check-circle {
	font-size:(11.63/10)*1rem;
	width:(11.63/11.63)*1em;
}
.icon-clock {
	font-size:(11.63/10)*1rem;
	width:(11.63/11.63)*1em;
}
.icon-credit-card {
	font-size:(36.755/10)*1rem;
	width:(47.25/36.755)*1em;
}
.icon-filter {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.icon-map {
	font-size:(17.72/10)*1rem;
	width:(22.78/17.72)*1em;
}
.icon-minus {
	font-size:(1.406/10)*1rem;
	width:(11.3/1.406)*1em;
}
.icon-money-bill-wave-alt {
	font-size:(36.755/10)*1rem;
	width:(52.5/36.755)*1em;
}
.icon-nav-next {
	font-size:(12/10)*1rem;
	width:(21.44/12)*1em;
}
.icon-nav-prev {
	font-size:(12/10)*1rem;
	width:(21.44/12)*1em;
}
.icon-pencil-alt {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
.icon-plus {
	font-size:(11.25/10)*1rem;
	width:(11.3/11.25)*1em;
}
.icon-random {
	font-size:(12.25/10)*1rem;
	width:(14/12.25)*1em;
}
.icon-search {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-shopping-cart {
	font-size:(24.407/10)*1rem;
	width:(27.5/24.407)*1em;
}
.icon-sign-out {
	font-size:(18.12/10)*1rem;
	width:(24.18/18.12)*1em;
}
.icon-sort {
	font-size:(13.12/10)*1rem;
	width:(8.75/13.12)*1em;
}
.icon-sync {
	font-size:(13.56/10)*1rem;
	width:(14/13.56)*1em;
}
.icon-th {
	font-size:(15/10)*1rem;
	width:(17.22/15)*1em;
}
.icon-th-list {
	font-size:(15/10)*1rem;
	width:(17.22/15)*1em;
}
.icon-times-circle {
	font-size:(11.63/10)*1rem;
	width:(11.63/11.63)*1em;
}
.icon-trash-alt {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
.icon-truck {
	font-size:(18/10)*1rem;
	width:(22.5/18)*1em;
}
.icon-user {
	font-size:(24.5/10)*1rem;
	width:(21.44/24.5)*1em;
}
