.modal
	.modal_container#pass-remind
		.modal_content
			.modal_header
				b.modal_title Восстановление пароля

			p.modal_text.
				Введите e-mail, который указывали при регистрации

			form(action="#" method="post").form
				.form_tf-wrapper
					input(type="email" name="login" placeholder="Электронная почта").form_tf
				.form_actions
					button(type="submit").btn Вспомнить пароль
			
				.form_actions.__pass-remind
					span Вспомнили пароль? 
					a(href="#login") Отмена

		a(href="#").modal_close

	.modal_overlay